.CloseButton {
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.ButtonDiv {
    width: 60px;
    margin: 0 auto;
}

.PaymentHeader {
    background-color: #474a6e;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;   
}

span {
    color: yellow;
}

.PaymentForm {
    display: flex;
    flex-direction: column;
}

.PaymentInput {
    margin-bottom: 5px;
    height: 30px;
    border-radius: 5px;
}

.PaymentSelect {
    margin-bottom: 5px;
    height: 30px;
    border-radius: 5px;
}